body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 25px;
}

.header{
    flex: 1;
    background-color: red;
}

.tv_show_header{
    flex: 2;
    background-color: blue;

}

.recommendations{
    flex: 1;
    background-color: green;

}